body {
  margin: 0;
  padding: 0;
  background-color: #9e9e9e;
}

main {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.profile {
  width: 150vh;
  height: 200vh;
  margin: 120px 0 120px 0;
  background-color: #d6d6d6;
  border-radius: 40px;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 130px;
  background-color: #082e2b;
  border-radius: 0 40px 0 0;
  z-index: 50;
}

header h1 {
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: rgb(231, 231, 231);
  letter-spacing: 8px;
  word-spacing: 22px;
  margin-right: 130px;
}

.my-photo {
  position: absolute;
  width: 300px;
  border: solid #082e2b 15px;
  border-radius: 150px;
  box-sizing: border-box;
  top: -80px;
  left: -80px;
  z-index: 100;
}

div.left {
  background: #c0c0c0;
  width: 45vh;
  border-right: solid 2px #082e2b;
  border-radius: 0 0 0 40px;
}

div.left .paragraph {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(46, 46, 46);
  padding: 15px 15px 15px 40px;
  margin-top: 15rem;
  text-align: justify;
}

div.left p {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(46, 46, 46);
  padding: 15px 15px 15px 25px;
  text-align: left;
  max-width: 80%;
  text-align: justify;
}

div.left h2 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #013f3a;
  padding-top: 70px;
}

div.left .skills {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(46, 46, 46);
  letter-spacing: 1px;
  padding-left: 80px;
  list-style-type: circle;
}

hr {
  background-color: #494949;
  height: 1px;
}

div.right {
  margin-top: 150px;
  width: 105vh;
}

.right h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: justify;
  color: #013f3a;
  padding: 22px 0 0 30px;
}

.right h3 {
  display: inline-block;
  font-family: serif;
  color: rgb(85, 85, 85);
  font-size: 14px;
  padding: 10px 10px 0 10px;
  border-right: 1px solid black;
  height: 40px;
}

.right h4 {
  display: inline-block;
  font-family: serif;
  color: rgb(46, 46, 46);
  font-size: 14px;
  padding-left: 10px;
}

.right li {
  font-family: sans-serif;
  color: rgb(46, 46, 46);
  font-size: 12px;
  padding: 0 20px 15px 10px;
  margin-top: -5px;
  text-align: justify;
}
